/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Jost500Medium';
  src: url("/fonts/Jost/Jost500Medium.otf");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
}

.banner .background-image {
  height: 100vh;
  width: 100%;
  background-image: url("../images/Rectangle 2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .background-image .overlay {
  background: rgba(0, 0, 0, 0.205);
  width: 100%;
}

.banner .background-image .mobile-nav {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner .background-image .hamburger {
  border: 2px solid brown;
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .background-image .hamburger .line {
  height: 2px;
  width: 70%;
  background: brown;
}

.banner .background-image .pc-nav {
  display: none;
}

.why-us {
  padding: 30px;
}

.why-us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.why-us .container .row {
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.why-us .container .row .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 125%;
}

.why-us .container .row .left {
  height: 30vh;
  background-image: url("../images/Rectangle 14.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20%;
}

.why-us .container .row .left .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  background: maroon;
  border: 3px solid white;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: 'Jost500Medium';
}

.why-us .container .right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Jost500Medium';
}

.why-us .container .right h2 {
  color: maroon;
  font-family: 'Jost500Medium';
}

.why-us .container .right .bold {
  font-weight: 700;
}

.why-us .container .right .bold .meikles {
  color: maroon;
}

.why-us .container .right .btn {
  background: transparent;
  color: maroon;
  border: 3px solid maroon;
  padding: 6px 10px;
}

.projects {
  font-family: 'Jost500Medium';
  margin-top: -5%;
}

.projects .container .row .left {
  height: 50vh;
  background: maroon;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects .container .row .right .photo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.projects .container .row .right .photo .img1 {
  background-image: url("../images/Rectangle 24.jpg");
  height: 25vh;
  width: 25vh;
  background-size: cover;
  background-position: center;
  border: 1px solid maroon;
}

.projects .container .row .right .photo .img2 {
  background-image: url("../images/Rectangle 20.jpg");
  height: 25vh;
  width: 25vh;
  background-size: cover;
  background-position: center;
  border: 1px solid maroon;
}

.projects .container .row .right .photo .img3 {
  background-image: url("../images/Rectangle 23.jpg");
  height: 25vh;
  width: 25vh;
  background-size: cover;
  background-position: center;
  border: 1px solid maroon;
}

.projects .container .row .right .photo .img4 {
  background-image: url("../images/Rectangle 21.jpg");
  height: 25vh;
  width: 25vh;
  background-size: cover;
  background-position: center;
  border: 1px solid maroon;
}

.projects .container .row .right .photo .img5 {
  background-image: url("../images/Rectangle 14.jpg");
  height: 25vh;
  width: 25vh;
  background-size: cover;
  background-position: center;
  border: 1px solid maroon;
}

.projects .container .row .right .photo .img6 {
  background-image: url("../images/Rectangle 22.jpg");
  height: 25vh;
  width: 25vh;
  background-size: cover;
  background-position: center;
  border: 1px solid maroon;
}

.donate {
  font-family: 'Jost500Medium';
  margin-top: 5%;
}

.donate .container .background {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/pexels-cdc-3992949 1.jpg");
  background-position: center;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.donate .container .background .overlay {
  background: rgba(0, 0, 0, 0.541);
  height: 50vh;
}

.donate .container .background .overlay .row {
  padding: 1rem;
}

.donate .container .background .overlay .row .left .donate-text h2 {
  color: white;
  padding-bottom: 50px;
}

.donate .container .background .overlay .row .left .btr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.donate .container .background .overlay .row .left .btr form input {
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  padding: 10px 15px;
}

.donate .container .background .overlay .row .left .btr button {
  background: maroon;
  color: white;
  padding: 8px 10px;
  border: none;
}

.responsibility {
  font-family: 'Jost500Medium';
  padding: 50px;
}

.responsibility .container {
  padding: 30px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 3px solid maroon;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  font-family: 'Jost500Medium';
  padding: 40px;
  background: maroon;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .row .choose p {
  color: rgba(252, 244, 244, 0.479);
}

.footer .row .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  gap: 10px;
}

.footer .row .text .dots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .row .text .dots {
  color: white;
  height: 15px;
  width: 15px;
  background-color: black;
  border: 3px solid white;
  border-radius: 50%;
  gap: 10px;
}

.footer .row img {
  width: 60px;
  height: 60px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner {
    position: relative;
  }
  .banner .mobile-nav {
    display: none !important;
  }
  .banner .nav-container {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: transparent;
  }
  .banner .nav-container .pc-nav {
    display: block !important;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .banner .nav-container .pc-nav .nav-icons {
    height: 70px;
    width: 70px;
    background: maroon;
    margin-right: -1px;
  }
  .banner .nav-container .pc-nav .nav-icons1 {
    height: 70px;
    width: 70px;
    background: maroon;
    margin-left: -32px;
  }
  .banner .nav-container .pc-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    background: white;
    color: maroon;
  }
  .banner .nav-container .pc-nav ul li {
    font-weight: 500;
    font-family: 'Jost500Medium';
  }
  .why-us {
    padding: 30px;
  }
  .why-us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .why-us .container .row {
    padding-top: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .why-us .container .row .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 125%;
  }
  .why-us .container .row .left {
    height: 70vh;
    background-image: url("../images/Rectangle 14.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20%;
  }
  .why-us .container .row .left .box {
    height: 35vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25%;
    width: 25%;
    background: maroon;
    border: 3px solid white;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
  }
  .why-us .container .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .why-us .container .right h2 {
    color: maroon;
  }
  .why-us .container .right .bold {
    font-weight: 700;
  }
  .why-us .container .right .bold .meikles {
    color: maroon;
  }
  .why-us .container .right .btn {
    background: transparent;
    color: maroon;
    border: 3px solid maroon;
    padding: 10px 25px;
  }
  .donate {
    font-family: 'Jost500Medium';
    margin-top: 5%;
  }
  .donate .container .background {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../images/pexels-cdc-3992949 1.jpg");
    background-position: center;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .donate .container .background .overlay {
    background: rgba(0, 0, 0, 0.541);
    height: 50vh;
  }
  .donate .container .background .overlay .row {
    padding: 4rem;
  }
  .donate .container .background .overlay .row .left .donate-text h2 {
    color: white;
    padding-bottom: 50px;
    width: 120%;
  }
  .donate .container .background .overlay .row .left .btr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .donate .container .background .overlay .row .left .btr form input {
    width: 20rem;
  }
  .donate .container .background .overlay .row .left .btr form input {
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    padding: 10px 15px;
  }
  .donate .container .background .overlay .row .left .btr button {
    background: maroon;
    color: white;
    padding: 10px 15px;
    border: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width */
/*# sourceMappingURL=style.css.map */